<%- model_class = Store -%>
<div class="page-header">
  <h1>店舗一覧</h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><strong><%= link_to store.name, store_path(store) %></strong></td><br/>
        <td>tel:<%= store.tel %></td>
        <td><%= store.address %></td><br/>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_store_path(store), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_store_path,
            :class => 'btn btn-primary' %>
