<!DOCTYPE html>
<html>
<head>
  <title>Yoyakkuma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <header class="navbar navbar-fixed-top navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "yoyakkuma", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "店舗", '#' %></li>
            <li><%= link_to "ユーザー", '#' %></li>
            <li><%= link_to "問い合わせ", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
<div class="container">
<%= yield %>
</div>

</body>
</html>
